-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "shift_type" AS ENUM ('1x8', '1x12', '2x8', '2x12', '3x8');

-- CreateEnum
CREATE TYPE "status_type" AS ENUM ('pending', 'sent', 'cancelled');

-- CreateTable
CREATE TABLE "formula_details" (
    "id" SERIAL NOT NULL,
    "formula_id" INTEGER,
    "ingredient_id" INTEGER,
    "standard_quality" DOUBLE PRECISION,

    CONSTRAINT "formula_details_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "formulas" (
    "id" SERIAL NOT NULL,
    "formula_name" TEXT,
    "product_id" INTEGER,
    "is_active" BOOLEAN,
    "product_line" TEXT,
    "specification" VARCHAR(50),
    "color" VARCHAR(20),
    "type_of_specification" VARCHAR(20),
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "created_by" TEXT,

    CONSTRAINT "formulas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ingredients" (
    "id" SERIAL NOT NULL,
    "ingredient_code" VARCHAR(20) NOT NULL,
    "ingredient_name" TEXT,
    "unit" VARCHAR(15),
    "description" VARCHAR(50),
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ingredients_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "material_details" (
    "id" SERIAL NOT NULL,
    "material_id" INTEGER,
    "ingredient_id" INTEGER,
    "weight" DOUBLE PRECISION,
    "real_percent" DOUBLE PRECISION,
    "note_" TEXT,

    CONSTRAINT "material_details_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "material_reports" (
    "id" SERIAL NOT NULL,
    "team_id" INTEGER,
    "report_date" DATE,
    "shift" VARCHAR(20),
    "start_time" TIME(6),
    "end_time" TIME(6),
    "extral_materials" JSONB DEFAULT '[]',
    "foreman_check" BOOLEAN,

    CONSTRAINT "material_reports_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "product_reports" (
    "id" SERIAL NOT NULL,
    "report_date" DATE,
    "team_id" INTEGER,
    "furnace" INTEGER,
    "shift" VARCHAR(20),
    "start_time" TIME(6),
    "end_time" TIME(6),
    "warehouse_check" BOOLEAN,
    "producttion_check" BOOLEAN,

    CONSTRAINT "product_reports_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "production_logs" (
    "id" SERIAL NOT NULL,
    "log_date" DATE,
    "log_start" TIME(6),
    "log_end" TIME(6),
    "number_of_employee" INTEGER,
    "on_work" INTEGER,
    "unauthorized_absence" TEXT,
    "authorized_absence" TEXT,
    "HT_di" TEXT,
    "HT_den" TEXT,
    "forklift" TEXT,
    "shift_leader" TEXT,
    "team_id" INTEGER,
    "electric" INTEGER,
    "extral_logs" JSONB DEFAULT '[]',

    CONSTRAINT "production_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "production_orders" (
    "id" SERIAL NOT NULL,
    "order_date" DATE,
    "formula_id" INTEGER,
    "team_id" INTEGER,
    "product_shift" "shift_type",
    "target_quantity" DOUBLE PRECISION,
    "urea_rate" DOUBLE PRECISION,
    "status" "status_type" DEFAULT 'pending',
    "input_temprature_1" INTEGER,
    "output_temprature_1" INTEGER,
    "input_temprature_2" INTEGER,
    "output_temprature_2" INTEGER,
    "order_note" TEXT,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "created_by" TEXT,

    CONSTRAINT "production_orders_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "products" (
    "id" SERIAL NOT NULL,
    "product_code" VARCHAR(20) NOT NULL,
    "product_name" TEXT,
    "unit" VARCHAR(50),
    "description" TEXT,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "products_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "reports_products" (
    "id" SERIAL NOT NULL,
    "product_id" INTEGER,
    "report_id" INTEGER,
    "weight_" DOUBLE PRECISION,
    "is_finish" BOOLEAN,
    "type_of_specification" CHAR(1),
    "product_line" TEXT,
    "specification" TEXT,
    "start_time" TIME(6),
    "end_time" TIME(6),
    "note_" TEXT,

    CONSTRAINT "reports_products_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "roles" (
    "role_id" SERIAL NOT NULL,
    "role_name" VARCHAR(50),
    "priority_level" INTEGER NOT NULL,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "roles_pkey" PRIMARY KEY ("role_id")
);

-- CreateTable
CREATE TABLE "teams" (
    "team_id" SERIAL NOT NULL,
    "team_name" VARCHAR(50),
    "leader_id" INTEGER,

    CONSTRAINT "teams_pkey" PRIMARY KEY ("team_id")
);

-- CreateTable
CREATE TABLE "users" (
    "id" SERIAL NOT NULL,
    "username" TEXT NOT NULL,
    "password_hash" TEXT NOT NULL,
    "full_name" VARCHAR(100),
    "role_id" INTEGER,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "is_active" BOOLEAN,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "unique_ingredient" ON "ingredients"("ingredient_code");

-- CreateIndex
CREATE UNIQUE INDEX "unique_product" ON "products"("product_code");

-- CreateIndex
CREATE UNIQUE INDEX "unique_username" ON "users"("username");

-- AddForeignKey
ALTER TABLE "formula_details" ADD CONSTRAINT "fk_formuladetail_formula" FOREIGN KEY ("formula_id") REFERENCES "formulas"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "formula_details" ADD CONSTRAINT "fk_formuladetail_ingredient" FOREIGN KEY ("ingredient_id") REFERENCES "ingredients"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "formulas" ADD CONSTRAINT "fk_formula_product" FOREIGN KEY ("product_id") REFERENCES "products"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "material_details" ADD CONSTRAINT "fk_materialdetail_ingredient" FOREIGN KEY ("ingredient_id") REFERENCES "ingredients"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "material_details" ADD CONSTRAINT "fk_materialdetail_material" FOREIGN KEY ("material_id") REFERENCES "material_reports"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "material_reports" ADD CONSTRAINT "fk_material_team" FOREIGN KEY ("team_id") REFERENCES "teams"("team_id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "product_reports" ADD CONSTRAINT "fk_productreport_team" FOREIGN KEY ("team_id") REFERENCES "teams"("team_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "production_logs" ADD CONSTRAINT "fk_productlogs_teams" FOREIGN KEY ("team_id") REFERENCES "teams"("team_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "production_orders" ADD CONSTRAINT "fk_order_formula" FOREIGN KEY ("formula_id") REFERENCES "formulas"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "production_orders" ADD CONSTRAINT "fk_order_team" FOREIGN KEY ("team_id") REFERENCES "teams"("team_id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "reports_products" ADD CONSTRAINT "fk_reportproduct_products" FOREIGN KEY ("product_id") REFERENCES "products"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "reports_products" ADD CONSTRAINT "fk_reportproduct_report" FOREIGN KEY ("report_id") REFERENCES "product_reports"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "teams" ADD CONSTRAINT "fk_team_user" FOREIGN KEY ("leader_id") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "users" ADD CONSTRAINT "fk_user_role" FOREIGN KEY ("role_id") REFERENCES "roles"("role_id") ON DELETE SET NULL ON UPDATE NO ACTION;

