--
-- PostgreSQL database cluster dump
--

\restrict alEXoOQhAuLgtFfVmmweHPeuGb9JpQg1aGQzC0EgYvLvkpBAePoj1fGAEhrs8Ft

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Drop databases (except postgres and template1)
--

DROP DATABASE minierp;
DROP DATABASE minierp2;




--
-- Drop roles
--

DROP ROLE postgres;


--
-- Roles
--

CREATE ROLE postgres;
ALTER ROLE postgres WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:+KRqkwcv7TGJ6B6oIYXGAA==$dJ1X6ei+Jnniv03JYQ4KJz5+VwxUcRIgpi9WfxI7VKg=:LgpxV+sVjU76TYYy4ymjgm8qAbjV3+e00fkSe8ftcl8=';

--
-- User Configurations
--








\unrestrict alEXoOQhAuLgtFfVmmweHPeuGb9JpQg1aGQzC0EgYvLvkpBAePoj1fGAEhrs8Ft

--
-- Databases
--

--
-- Database "template1" dump
--

--
-- PostgreSQL database dump
--

\restrict LtLa0L4ULL5xPUW5lkvQbp3EccPtiO6EWE7OQYM67nYBZ52G1hmQvGMM8P8RMhT

-- Dumped from database version 18.1 (Debian 18.1-1.pgdg13+2)
-- Dumped by pg_dump version 18.1 (Debian 18.1-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

UPDATE pg_catalog.pg_database SET datistemplate = false WHERE datname = 'template1';
DROP DATABASE template1;
--
-- Name: template1; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE template1 WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE template1 OWNER TO postgres;

\unrestrict LtLa0L4ULL5xPUW5lkvQbp3EccPtiO6EWE7OQYM67nYBZ52G1hmQvGMM8P8RMhT
\connect template1
\restrict LtLa0L4ULL5xPUW5lkvQbp3EccPtiO6EWE7OQYM67nYBZ52G1hmQvGMM8P8RMhT

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON DATABASE template1 IS 'default template for new databases';


--
-- Name: template1; Type: DATABASE PROPERTIES; Schema: -; Owner: postgres
--

ALTER DATABASE template1 IS_TEMPLATE = true;


\unrestrict LtLa0L4ULL5xPUW5lkvQbp3EccPtiO6EWE7OQYM67nYBZ52G1hmQvGMM8P8RMhT
\connect template1
\restrict LtLa0L4ULL5xPUW5lkvQbp3EccPtiO6EWE7OQYM67nYBZ52G1hmQvGMM8P8RMhT

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: ACL; Schema: -; Owner: postgres
--

REVOKE CONNECT,TEMPORARY ON DATABASE template1 FROM PUBLIC;
GRANT CONNECT ON DATABASE template1 TO PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict LtLa0L4ULL5xPUW5lkvQbp3EccPtiO6EWE7OQYM67nYBZ52G1hmQvGMM8P8RMhT

--
-- Database "minierp" dump
--

--
-- PostgreSQL database dump
--

\restrict zxcW7OKBG11f2x9T48bh90a5s0JLLhl3whOi8PDFg4Fp9yzJGysexFYoapLDNFs

-- Dumped from database version 18.1 (Debian 18.1-1.pgdg13+2)
-- Dumped by pg_dump version 18.1 (Debian 18.1-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: minierp; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE minierp WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE minierp OWNER TO postgres;

\unrestrict zxcW7OKBG11f2x9T48bh90a5s0JLLhl3whOi8PDFg4Fp9yzJGysexFYoapLDNFs
\connect minierp
\restrict zxcW7OKBG11f2x9T48bh90a5s0JLLhl3whOi8PDFg4Fp9yzJGysexFYoapLDNFs

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: shift_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.shift_type AS ENUM (
    '1x8',
    '1x12',
    '2x8',
    '2x12',
    '3x8'
);


ALTER TYPE public.shift_type OWNER TO postgres;

--
-- Name: status_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.status_type AS ENUM (
    'pending',
    'sent',
    'cancelled'
);


ALTER TYPE public.status_type OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: formula_details; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.formula_details (
    id integer NOT NULL,
    formula_id integer,
    ingredient_id integer,
    standard_quality double precision
);


ALTER TABLE public.formula_details OWNER TO postgres;

--
-- Name: formula_details_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.formula_details_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.formula_details_id_seq OWNER TO postgres;

--
-- Name: formula_details_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.formula_details_id_seq OWNED BY public.formula_details.id;


--
-- Name: formulas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.formulas (
    id integer NOT NULL,
    formula_name text,
    product_id integer,
    is_active boolean,
    product_line text,
    specification character varying(50),
    color character varying(20),
    type_of_specification character varying(20),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    created_by text
);


ALTER TABLE public.formulas OWNER TO postgres;

--
-- Name: formulas_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.formulas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.formulas_id_seq OWNER TO postgres;

--
-- Name: formulas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.formulas_id_seq OWNED BY public.formulas.id;


--
-- Name: ingredients; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ingredients (
    id integer NOT NULL,
    ingredient_code character varying(20) NOT NULL,
    ingredient_name text,
    unit character varying(15),
    description character varying(50),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.ingredients OWNER TO postgres;

--
-- Name: ingredients_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ingredients_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ingredients_id_seq OWNER TO postgres;

--
-- Name: ingredients_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ingredients_id_seq OWNED BY public.ingredients.id;


--
-- Name: material_details; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.material_details (
    id integer NOT NULL,
    material_id integer,
    ingredient_id integer,
    weight double precision,
    real_percent double precision,
    note_ text
);


ALTER TABLE public.material_details OWNER TO postgres;

--
-- Name: material_details_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.material_details_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.material_details_id_seq OWNER TO postgres;

--
-- Name: material_details_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.material_details_id_seq OWNED BY public.material_details.id;


--
-- Name: material_reports; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.material_reports (
    id integer NOT NULL,
    team_id integer,
    report_date date,
    shift character varying(20),
    start_time time without time zone,
    end_time time without time zone,
    extral_materials jsonb DEFAULT '[]'::jsonb,
    foreman_check boolean
);


ALTER TABLE public.material_reports OWNER TO postgres;

--
-- Name: material_reports_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.material_reports_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.material_reports_id_seq OWNER TO postgres;

--
-- Name: material_reports_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.material_reports_id_seq OWNED BY public.material_reports.id;


--
-- Name: product_reports; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_reports (
    id integer NOT NULL,
    report_date date,
    team_id integer,
    furnace integer,
    shift character varying(20),
    start_time time without time zone,
    end_time time without time zone,
    warehouse_check boolean,
    producttion_check boolean
);


ALTER TABLE public.product_reports OWNER TO postgres;

--
-- Name: product_reports_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.product_reports_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.product_reports_id_seq OWNER TO postgres;

--
-- Name: product_reports_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.product_reports_id_seq OWNED BY public.product_reports.id;


--
-- Name: production_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.production_logs (
    id integer NOT NULL,
    log_date date,
    log_start time without time zone,
    log_end time without time zone,
    number_of_employee integer,
    on_work integer,
    unauthorized_absence text,
    authorized_absence text,
    "HT_di" text,
    "HT_den" text,
    forklift text,
    shift_leader text,
    team_id integer,
    electric integer,
    extral_logs jsonb DEFAULT '[]'::jsonb
);


ALTER TABLE public.production_logs OWNER TO postgres;

--
-- Name: production_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.production_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.production_logs_id_seq OWNER TO postgres;

--
-- Name: production_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.production_logs_id_seq OWNED BY public.production_logs.id;


--
-- Name: production_orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.production_orders (
    id integer NOT NULL,
    order_date date,
    formula_id integer,
    team_id integer,
    product_shift public.shift_type,
    target_quantity double precision,
    urea_rate double precision,
    status public.status_type DEFAULT 'pending'::public.status_type,
    input_temprature_1 integer,
    output_temprature_1 integer,
    input_temprature_2 integer,
    output_temprature_2 integer,
    order_note text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    created_by text
);


ALTER TABLE public.production_orders OWNER TO postgres;

--
-- Name: production_orders_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.production_orders_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.production_orders_id_seq OWNER TO postgres;

--
-- Name: production_orders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.production_orders_id_seq OWNED BY public.production_orders.id;


--
-- Name: products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products (
    id integer NOT NULL,
    product_code character varying(20) NOT NULL,
    product_name text,
    unit character varying(50),
    description text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.products OWNER TO postgres;

--
-- Name: products_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.products_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.products_id_seq OWNER TO postgres;

--
-- Name: products_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.products_id_seq OWNED BY public.products.id;


--
-- Name: reports_products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reports_products (
    id integer NOT NULL,
    product_id integer,
    report_id integer,
    weight_ double precision,
    is_finish boolean,
    type_of_specification character(1),
    product_line text,
    specification text,
    start_time time without time zone,
    end_time time without time zone,
    note_ text
);


ALTER TABLE public.reports_products OWNER TO postgres;

--
-- Name: reports_products_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.reports_products_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.reports_products_id_seq OWNER TO postgres;

--
-- Name: reports_products_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.reports_products_id_seq OWNED BY public.reports_products.id;


--
-- Name: roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.roles (
    role_id integer NOT NULL,
    role_name character varying(50),
    priority_level integer NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.roles OWNER TO postgres;

--
-- Name: roles_role_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.roles_role_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.roles_role_id_seq OWNER TO postgres;

--
-- Name: roles_role_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.roles_role_id_seq OWNED BY public.roles.role_id;


--
-- Name: teams; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.teams (
    team_id integer NOT NULL,
    team_name character varying(50),
    leader_id integer
);


ALTER TABLE public.teams OWNER TO postgres;

--
-- Name: teams_team_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.teams_team_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.teams_team_id_seq OWNER TO postgres;

--
-- Name: teams_team_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.teams_team_id_seq OWNED BY public.teams.team_id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username text NOT NULL,
    password_hash text NOT NULL,
    full_name character varying(100),
    role_id integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    is_active boolean
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: formula_details id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.formula_details ALTER COLUMN id SET DEFAULT nextval('public.formula_details_id_seq'::regclass);


--
-- Name: formulas id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.formulas ALTER COLUMN id SET DEFAULT nextval('public.formulas_id_seq'::regclass);


--
-- Name: ingredients id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ingredients ALTER COLUMN id SET DEFAULT nextval('public.ingredients_id_seq'::regclass);


--
-- Name: material_details id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.material_details ALTER COLUMN id SET DEFAULT nextval('public.material_details_id_seq'::regclass);


--
-- Name: material_reports id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.material_reports ALTER COLUMN id SET DEFAULT nextval('public.material_reports_id_seq'::regclass);


--
-- Name: product_reports id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_reports ALTER COLUMN id SET DEFAULT nextval('public.product_reports_id_seq'::regclass);


--
-- Name: production_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.production_logs ALTER COLUMN id SET DEFAULT nextval('public.production_logs_id_seq'::regclass);


--
-- Name: production_orders id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.production_orders ALTER COLUMN id SET DEFAULT nextval('public.production_orders_id_seq'::regclass);


--
-- Name: products id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products ALTER COLUMN id SET DEFAULT nextval('public.products_id_seq'::regclass);


--
-- Name: reports_products id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reports_products ALTER COLUMN id SET DEFAULT nextval('public.reports_products_id_seq'::regclass);


--
-- Name: roles role_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles ALTER COLUMN role_id SET DEFAULT nextval('public.roles_role_id_seq'::regclass);


--
-- Name: teams team_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teams ALTER COLUMN team_id SET DEFAULT nextval('public.teams_team_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
959f9b4b-cfc4-428c-97c8-de8ff20ff2c1	63507afea78d50dce6067efa68fa4e0f22aba12786abbf75017a424bfa14f01a	2026-01-27 03:34:33.362804+00	0_init		\N	2026-01-27 03:34:33.362804+00	0
\.


--
-- Data for Name: formula_details; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: formulas; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ingredients; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: material_details; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.material_details (id, material_id, ingredient_id, weight, real_percent, note_) FROM stdin;
\.


--
-- Data for Name: material_reports; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.material_reports (id, team_id, report_date, shift, start_time, end_time, extral_materials, foreman_check) FROM stdin;
\.


--
-- Data for Name: product_reports; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.product_reports (id, report_date, team_id, furnace, shift, start_time, end_time, warehouse_check, producttion_check) FROM stdin;
\.


--
-- Data for Name: production_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.production_logs (id, log_date, log_start, log_end, number_of_employee, on_work, unauthorized_absence, authorized_absence, "HT_di", "HT_den", forklift, shift_leader, team_id, electric, extral_logs) FROM stdin;
\.


--
-- Data for Name: production_orders; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.production_orders (id, order_date, formula_id, team_id, product_shift, target_quantity, urea_rate, status, input_temprature_1, output_temprature_1, input_temprature_2, output_temprature_2, order_note, created_at, created_by) FROM stdin;
1	2026-01-29	1	1	1x8	100	\N	pending	100	100	100	100	\N	2026-01-30 02:36:35.231	NQH
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: reports_products; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.reports_products (id, product_id, report_id, weight_, is_finish, type_of_specification, product_line, specification, start_time, end_time, note_) FROM stdin;
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.roles (role_id, role_name, priority_level, created_at) FROM stdin;
1	Administrator	0	2026-01-24 08:40:04.62437
2	CEO	1	2026-01-24 08:40:04.62437
3	Deputy Director	2	2026-01-24 08:40:04.62437
4	Manager	3	2026-01-24 08:40:04.62437
5	Department	4	2026-01-24 08:40:04.62437
6	Staff	5	2026-01-24 08:40:04.62437
\.


--
-- Data for Name: teams; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.teams (team_id, team_name, leader_id) FROM stdin;
1	Sß║ún xuß║Ñt 1	8
2	Sß║ún xuß║Ñt 2	9
3	Sß║ún xuß║Ñt 3	10
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: formula_details_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.formula_details_id_seq', 41, true);


--
-- Name: formulas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.formulas_id_seq', 10, true);


--
-- Name: ingredients_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ingredients_id_seq', 114, true);


--
-- Name: material_details_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.material_details_id_seq', 1, false);


--
-- Name: material_reports_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.material_reports_id_seq', 1, false);


--
-- Name: product_reports_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_reports_id_seq', 1, false);


--
-- Name: production_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.production_logs_id_seq', 1, false);


--
-- Name: production_orders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.production_orders_id_seq', 1, true);


--
-- Name: products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_id_seq', 138, true);


--
-- Name: reports_products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.reports_products_id_seq', 1, false);


--
-- Name: roles_role_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.roles_role_id_seq', 6, true);


--
-- Name: teams_team_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.teams_team_id_seq', 3, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 55, true);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: formula_details formula_details_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.formula_details
    ADD CONSTRAINT formula_details_pkey PRIMARY KEY (id);


--
-- Name: formulas formulas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.formulas
    ADD CONSTRAINT formulas_pkey PRIMARY KEY (id);


--
-- Name: ingredients ingredients_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ingredients
    ADD CONSTRAINT ingredients_pkey PRIMARY KEY (id);


--
-- Name: material_details material_details_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.material_details
    ADD CONSTRAINT material_details_pkey PRIMARY KEY (id);


--
-- Name: material_reports material_reports_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.material_reports
    ADD CONSTRAINT material_reports_pkey PRIMARY KEY (id);


--
-- Name: product_reports product_reports_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_reports
    ADD CONSTRAINT product_reports_pkey PRIMARY KEY (id);


--
-- Name: production_logs production_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.production_logs
    ADD CONSTRAINT production_logs_pkey PRIMARY KEY (id);


--
-- Name: production_orders production_orders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.production_orders
    ADD CONSTRAINT production_orders_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: reports_products reports_products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reports_products
    ADD CONSTRAINT reports_products_pkey PRIMARY KEY (id);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (role_id);


--
-- Name: teams teams_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teams
    ADD CONSTRAINT teams_pkey PRIMARY KEY (team_id);


--
-- Name: ingredients unique_ingredient; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ingredients
    ADD CONSTRAINT unique_ingredient UNIQUE (ingredient_code);


--
-- Name: products unique_product; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT unique_product UNIQUE (product_code);


--
-- Name: users unique_username; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT unique_username UNIQUE (username);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users_username_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX users_username_key ON public.users USING btree (username);


--
-- Name: formulas fk_formula_product; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.formulas
    ADD CONSTRAINT fk_formula_product FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE SET NULL;


--
-- Name: formula_details fk_formuladetail_formula; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.formula_details
    ADD CONSTRAINT fk_formuladetail_formula FOREIGN KEY (formula_id) REFERENCES public.formulas(id) ON DELETE SET NULL;


--
-- Name: formula_details fk_formuladetail_ingredient; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.formula_details
    ADD CONSTRAINT fk_formuladetail_ingredient FOREIGN KEY (ingredient_id) REFERENCES public.ingredients(id) ON DELETE SET NULL;


--
-- Name: material_reports fk_material_team; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.material_reports
    ADD CONSTRAINT fk_material_team FOREIGN KEY (team_id) REFERENCES public.teams(team_id) ON DELETE SET NULL;


--
-- Name: material_details fk_materialdetail_ingredient; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.material_details
    ADD CONSTRAINT fk_materialdetail_ingredient FOREIGN KEY (ingredient_id) REFERENCES public.ingredients(id) ON DELETE SET NULL;


--
-- Name: material_details fk_materialdetail_material; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.material_details
    ADD CONSTRAINT fk_materialdetail_material FOREIGN KEY (material_id) REFERENCES public.material_reports(id) ON DELETE SET NULL;


--
-- Name: production_orders fk_order_formula; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.production_orders
    ADD CONSTRAINT fk_order_formula FOREIGN KEY (formula_id) REFERENCES public.formulas(id) ON DELETE SET NULL;


--
-- Name: production_orders fk_order_team; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.production_orders
    ADD CONSTRAINT fk_order_team FOREIGN KEY (team_id) REFERENCES public.teams(team_id) ON DELETE SET NULL;


--
-- Name: production_logs fk_productlogs_teams; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.production_logs
    ADD CONSTRAINT fk_productlogs_teams FOREIGN KEY (team_id) REFERENCES public.teams(team_id);


--
-- Name: product_reports fk_productreport_team; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_reports
    ADD CONSTRAINT fk_productreport_team FOREIGN KEY (team_id) REFERENCES public.teams(team_id);


--
-- Name: reports_products fk_reportproduct_products; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reports_products
    ADD CONSTRAINT fk_reportproduct_products FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: reports_products fk_reportproduct_report; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reports_products
    ADD CONSTRAINT fk_reportproduct_report FOREIGN KEY (report_id) REFERENCES public.product_reports(id);


--
-- Name: teams fk_team_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teams
    ADD CONSTRAINT fk_team_user FOREIGN KEY (leader_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: users fk_user_role; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT fk_user_role FOREIGN KEY (role_id) REFERENCES public.roles(role_id) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict zxcW7OKBG11f2x9T48bh90a5s0JLLhl3whOi8PDFg4Fp9yzJGysexFYoapLDNFs

--
-- Database "minierp2" dump
--

--
-- PostgreSQL database dump
--

\restrict GH43NybOChVSQVvV4WahpmAadlo7UKIpwjheRbuMYqaskFewq7stHuKliD7pAwF

-- Dumped from database version 18.1 (Debian 18.1-1.pgdg13+2)
-- Dumped by pg_dump version 18.1 (Debian 18.1-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: minierp2; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE minierp2 WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE minierp2 OWNER TO postgres;

\unrestrict GH43NybOChVSQVvV4WahpmAadlo7UKIpwjheRbuMYqaskFewq7stHuKliD7pAwF
\connect minierp2
\restrict GH43NybOChVSQVvV4WahpmAadlo7UKIpwjheRbuMYqaskFewq7stHuKliD7pAwF

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: formula_details; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.formula_details (
    id integer NOT NULL,
    formula_id integer,
    ingredient_id integer,
    standard_quality double precision
);


ALTER TABLE public.formula_details OWNER TO postgres;

--
-- Name: formula_details_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.formula_details_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.formula_details_id_seq OWNER TO postgres;

--
-- Name: formula_details_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.formula_details_id_seq OWNED BY public.formula_details.id;


--
-- Name: formulas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.formulas (
    id integer NOT NULL,
    formula_name text,
    product_id integer,
    is_active boolean,
    product_line text,
    specification character varying(50),
    color character varying(10),
    type_of_specification character(10),
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP,
    created_by text
);


ALTER TABLE public.formulas OWNER TO postgres;

--
-- Name: formulas_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.formulas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.formulas_id_seq OWNER TO postgres;

--
-- Name: formulas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.formulas_id_seq OWNED BY public.formulas.id;


--
-- Name: ingredients; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ingredients (
    id integer NOT NULL,
    ingredient_code character(10) NOT NULL,
    ingredient_name text,
    unit character varying(15),
    description character varying(50),
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.ingredients OWNER TO postgres;

--
-- Name: ingredients_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ingredients_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ingredients_id_seq OWNER TO postgres;

--
-- Name: ingredients_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ingredients_id_seq OWNED BY public.ingredients.id;


--
-- Name: material_details; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.material_details (
    id integer NOT NULL,
    material_id integer,
    ingredient_id integer,
    weight double precision,
    real_percent double precision,
    note_ text
);


ALTER TABLE public.material_details OWNER TO postgres;

--
-- Name: material_details_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.material_details_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.material_details_id_seq OWNER TO postgres;

--
-- Name: material_details_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.material_details_id_seq OWNED BY public.material_details.id;


--
-- Name: material_reports; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.material_reports (
    id integer NOT NULL,
    team_id integer,
    report_date date,
    shift character(10),
    start_time time(6) without time zone,
    end_time time(6) without time zone,
    extral_materials jsonb DEFAULT '[]'::jsonb,
    foreman_check boolean
);


ALTER TABLE public.material_reports OWNER TO postgres;

--
-- Name: material_reports_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.material_reports_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.material_reports_id_seq OWNER TO postgres;

--
-- Name: material_reports_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.material_reports_id_seq OWNED BY public.material_reports.id;


--
-- Name: product_reports; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_reports (
    id integer NOT NULL,
    report_date date,
    team_id integer,
    furnace integer,
    shift character(10),
    start_time time(6) without time zone,
    end_time time(6) without time zone,
    warehouse_check boolean,
    producttion_check boolean
);


ALTER TABLE public.product_reports OWNER TO postgres;

--
-- Name: product_reports_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.product_reports_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.product_reports_id_seq OWNER TO postgres;

--
-- Name: product_reports_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.product_reports_id_seq OWNED BY public.product_reports.id;


--
-- Name: production_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.production_logs (
    id integer NOT NULL,
    log_date date,
    log_start time(6) without time zone,
    log_end time(6) without time zone,
    number_of_employee integer,
    on_work integer,
    unauthorized_absence text,
    authorized_absence text,
    "HT_di" text,
    "HT_den" text,
    forklift text,
    shift_leader text,
    team_id integer,
    electric integer,
    extral_logs jsonb DEFAULT '[]'::jsonb
);


ALTER TABLE public.production_logs OWNER TO postgres;

--
-- Name: production_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.production_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.production_logs_id_seq OWNER TO postgres;

--
-- Name: production_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.production_logs_id_seq OWNED BY public.production_logs.id;


--
-- Name: production_orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.production_orders (
    id integer NOT NULL,
    order_date date,
    formula_id integer,
    team_id integer,
    product_shift character(1),
    target_quantity double precision,
    urea_rate double precision,
    status character(10),
    input_temprature_1 integer,
    output_trmprature_1 integer,
    input_temprature_2 integer,
    output_temprature_2 integer,
    order_note text,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP,
    created_by text
);


ALTER TABLE public.production_orders OWNER TO postgres;

--
-- Name: production_orders_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.production_orders_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.production_orders_id_seq OWNER TO postgres;

--
-- Name: production_orders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.production_orders_id_seq OWNED BY public.production_orders.id;


--
-- Name: products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products (
    id integer NOT NULL,
    product_code character(10) NOT NULL,
    product_name text,
    unit character varying(50),
    description text,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.products OWNER TO postgres;

--
-- Name: products_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.products_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.products_id_seq OWNER TO postgres;

--
-- Name: products_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.products_id_seq OWNED BY public.products.id;


--
-- Name: reports_products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reports_products (
    id integer NOT NULL,
    product_id integer,
    report_id integer,
    weight_ double precision,
    is_finish boolean,
    type_of_specification character(1),
    product_line text,
    specification text,
    start_time time(6) without time zone,
    end_time time(6) without time zone,
    note_ text
);


ALTER TABLE public.reports_products OWNER TO postgres;

--
-- Name: reports_products_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.reports_products_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.reports_products_id_seq OWNER TO postgres;

--
-- Name: reports_products_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.reports_products_id_seq OWNED BY public.reports_products.id;


--
-- Name: roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.roles (
    role_id integer NOT NULL,
    role_name character varying(50),
    priority_level integer NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.roles OWNER TO postgres;

--
-- Name: roles_role_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.roles_role_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.roles_role_id_seq OWNER TO postgres;

--
-- Name: roles_role_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.roles_role_id_seq OWNED BY public.roles.role_id;


--
-- Name: teams; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.teams (
    team_id integer NOT NULL,
    team_name character varying(50),
    leader_id integer
);


ALTER TABLE public.teams OWNER TO postgres;

--
-- Name: teams_team_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.teams_team_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.teams_team_id_seq OWNER TO postgres;

--
-- Name: teams_team_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.teams_team_id_seq OWNED BY public.teams.team_id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character(20) NOT NULL,
    password_hash text NOT NULL,
    full_name character varying(100),
    role_id integer,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP,
    is_active boolean
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: formula_details id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.formula_details ALTER COLUMN id SET DEFAULT nextval('public.formula_details_id_seq'::regclass);


--
-- Name: formulas id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.formulas ALTER COLUMN id SET DEFAULT nextval('public.formulas_id_seq'::regclass);


--
-- Name: ingredients id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ingredients ALTER COLUMN id SET DEFAULT nextval('public.ingredients_id_seq'::regclass);


--
-- Name: material_details id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.material_details ALTER COLUMN id SET DEFAULT nextval('public.material_details_id_seq'::regclass);


--
-- Name: material_reports id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.material_reports ALTER COLUMN id SET DEFAULT nextval('public.material_reports_id_seq'::regclass);


--
-- Name: product_reports id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_reports ALTER COLUMN id SET DEFAULT nextval('public.product_reports_id_seq'::regclass);


--
-- Name: production_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.production_logs ALTER COLUMN id SET DEFAULT nextval('public.production_logs_id_seq'::regclass);


--
-- Name: production_orders id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.production_orders ALTER COLUMN id SET DEFAULT nextval('public.production_orders_id_seq'::regclass);


--
-- Name: products id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products ALTER COLUMN id SET DEFAULT nextval('public.products_id_seq'::regclass);


--
-- Name: reports_products id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reports_products ALTER COLUMN id SET DEFAULT nextval('public.reports_products_id_seq'::regclass);


--
-- Name: roles role_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles ALTER COLUMN role_id SET DEFAULT nextval('public.roles_role_id_seq'::regclass);


--
-- Name: teams team_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teams ALTER COLUMN team_id SET DEFAULT nextval('public.teams_team_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
9c5b859e-85d6-49c5-bc1d-1a0a7c7c87b1	240964a9e3090a76c93a1b0a8d74c70972e07721a32dfa4159c6705ecce0f439	2026-01-26 08:54:17.767248+00	20260126085417_init	\N	\N	2026-01-26 08:54:17.713722+00	1
\.


--
-- Data for Name: formula_details; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.formula_details (id, formula_id, ingredient_id, standard_quality) FROM stdin;
\.


--
-- Data for Name: formulas; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.formulas (id, formula_name, product_id, is_active, product_line, specification, color, type_of_specification, created_at, created_by) FROM stdin;
\.


--
-- Data for Name: ingredients; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ingredients (id, ingredient_code, ingredient_name, unit, description, created_at) FROM stdin;
\.


--
-- Data for Name: material_details; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.material_details (id, material_id, ingredient_id, weight, real_percent, note_) FROM stdin;
\.


--
-- Data for Name: material_reports; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.material_reports (id, team_id, report_date, shift, start_time, end_time, extral_materials, foreman_check) FROM stdin;
\.


--
-- Data for Name: product_reports; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.product_reports (id, report_date, team_id, furnace, shift, start_time, end_time, warehouse_check, producttion_check) FROM stdin;
\.


--
-- Data for Name: production_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.production_logs (id, log_date, log_start, log_end, number_of_employee, on_work, unauthorized_absence, authorized_absence, "HT_di", "HT_den", forklift, shift_leader, team_id, electric, extral_logs) FROM stdin;
\.


--
-- Data for Name: production_orders; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.production_orders (id, order_date, formula_id, team_id, product_shift, target_quantity, urea_rate, status, input_temprature_1, output_trmprature_1, input_temprature_2, output_temprature_2, order_note, created_at, created_by) FROM stdin;
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.products (id, product_code, product_name, unit, description, created_at) FROM stdin;
\.


--
-- Data for Name: reports_products; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.reports_products (id, product_id, report_id, weight_, is_finish, type_of_specification, product_line, specification, start_time, end_time, note_) FROM stdin;
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.roles (role_id, role_name, priority_level, created_at) FROM stdin;
\.


--
-- Data for Name: teams; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.teams (team_id, team_name, leader_id) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, username, password_hash, full_name, role_id, created_at, is_active) FROM stdin;
\.


--
-- Name: formula_details_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.formula_details_id_seq', 1, false);


--
-- Name: formulas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.formulas_id_seq', 1, false);


--
-- Name: ingredients_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ingredients_id_seq', 1, false);


--
-- Name: material_details_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.material_details_id_seq', 1, false);


--
-- Name: material_reports_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.material_reports_id_seq', 1, false);


--
-- Name: product_reports_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_reports_id_seq', 1, false);


--
-- Name: production_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.production_logs_id_seq', 1, false);


--
-- Name: production_orders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.production_orders_id_seq', 1, false);


--
-- Name: products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_id_seq', 1, false);


--
-- Name: reports_products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.reports_products_id_seq', 1, false);


--
-- Name: roles_role_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.roles_role_id_seq', 1, false);


--
-- Name: teams_team_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.teams_team_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 1, false);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: formula_details formula_details_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.formula_details
    ADD CONSTRAINT formula_details_pkey PRIMARY KEY (id);


--
-- Name: formulas formulas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.formulas
    ADD CONSTRAINT formulas_pkey PRIMARY KEY (id);


--
-- Name: ingredients ingredients_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ingredients
    ADD CONSTRAINT ingredients_pkey PRIMARY KEY (id);


--
-- Name: material_details material_details_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.material_details
    ADD CONSTRAINT material_details_pkey PRIMARY KEY (id);


--
-- Name: material_reports material_reports_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.material_reports
    ADD CONSTRAINT material_reports_pkey PRIMARY KEY (id);


--
-- Name: product_reports product_reports_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_reports
    ADD CONSTRAINT product_reports_pkey PRIMARY KEY (id);


--
-- Name: production_logs production_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.production_logs
    ADD CONSTRAINT production_logs_pkey PRIMARY KEY (id);


--
-- Name: production_orders production_orders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.production_orders
    ADD CONSTRAINT production_orders_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: reports_products reports_products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reports_products
    ADD CONSTRAINT reports_products_pkey PRIMARY KEY (id);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (role_id);


--
-- Name: teams teams_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teams
    ADD CONSTRAINT teams_pkey PRIMARY KEY (team_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: formulas fk_formula_product; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.formulas
    ADD CONSTRAINT fk_formula_product FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE SET NULL;


--
-- Name: formula_details fk_formuladetail_formula; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.formula_details
    ADD CONSTRAINT fk_formuladetail_formula FOREIGN KEY (formula_id) REFERENCES public.formulas(id) ON DELETE SET NULL;


--
-- Name: formula_details fk_formuladetail_ingredient; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.formula_details
    ADD CONSTRAINT fk_formuladetail_ingredient FOREIGN KEY (ingredient_id) REFERENCES public.ingredients(id) ON DELETE SET NULL;


--
-- Name: material_reports fk_material_team; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.material_reports
    ADD CONSTRAINT fk_material_team FOREIGN KEY (team_id) REFERENCES public.teams(team_id) ON DELETE SET NULL;


--
-- Name: material_details fk_materialdetail_ingredient; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.material_details
    ADD CONSTRAINT fk_materialdetail_ingredient FOREIGN KEY (ingredient_id) REFERENCES public.ingredients(id) ON DELETE SET NULL;


--
-- Name: material_details fk_materialdetail_material; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.material_details
    ADD CONSTRAINT fk_materialdetail_material FOREIGN KEY (material_id) REFERENCES public.material_reports(id) ON DELETE SET NULL;


--
-- Name: production_orders fk_order_formula; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.production_orders
    ADD CONSTRAINT fk_order_formula FOREIGN KEY (formula_id) REFERENCES public.formulas(id) ON DELETE SET NULL;


--
-- Name: production_orders fk_order_team; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.production_orders
    ADD CONSTRAINT fk_order_team FOREIGN KEY (team_id) REFERENCES public.teams(team_id) ON DELETE SET NULL;


--
-- Name: production_logs fk_productlogs_teams; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.production_logs
    ADD CONSTRAINT fk_productlogs_teams FOREIGN KEY (team_id) REFERENCES public.teams(team_id);


--
-- Name: product_reports fk_productreport_team; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_reports
    ADD CONSTRAINT fk_productreport_team FOREIGN KEY (team_id) REFERENCES public.teams(team_id);


--
-- Name: reports_products fk_reportproduct_products; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reports_products
    ADD CONSTRAINT fk_reportproduct_products FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: reports_products fk_reportproduct_report; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reports_products
    ADD CONSTRAINT fk_reportproduct_report FOREIGN KEY (report_id) REFERENCES public.product_reports(id);


--
-- Name: teams fk_team_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teams
    ADD CONSTRAINT fk_team_user FOREIGN KEY (leader_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: users fk_user_role; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT fk_user_role FOREIGN KEY (role_id) REFERENCES public.roles(role_id) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict GH43NybOChVSQVvV4WahpmAadlo7UKIpwjheRbuMYqaskFewq7stHuKliD7pAwF

--
-- Database "postgres" dump
--

--
-- PostgreSQL database dump
--

\restrict 47AX6KtPtuJmooS0KTxaNz2m9Qe7DNnVlgopzwagyy5jbdDTgIpMeCdKf517LC3

-- Dumped from database version 18.1 (Debian 18.1-1.pgdg13+2)
-- Dumped by pg_dump version 18.1 (Debian 18.1-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

DROP DATABASE postgres;
--
-- Name: postgres; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE postgres WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE postgres OWNER TO postgres;

\unrestrict 47AX6KtPtuJmooS0KTxaNz2m9Qe7DNnVlgopzwagyy5jbdDTgIpMeCdKf517LC3
\connect postgres
\restrict 47AX6KtPtuJmooS0KTxaNz2m9Qe7DNnVlgopzwagyy5jbdDTgIpMeCdKf517LC3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE postgres; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON DATABASE postgres IS 'default administrative connection database';


--
-- PostgreSQL database dump complete
--

\unrestrict 47AX6KtPtuJmooS0KTxaNz2m9Qe7DNnVlgopzwagyy5jbdDTgIpMeCdKf517LC3

--
-- PostgreSQL database cluster dump complete
--

